<html>
  <head>
             <!-- <link rel="stylesheet" media="screen" href="static/bootstrap.min.css"> -->
             <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        	 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">

      </head>
      <body>

<div class="container">

  <div class="row justify-content-center">

  <h2  class="text-success">Application </h2>
</div>
<form action="" method="post" >

    {{ form.csrf_token }}


<div class="form-group">
      <label  class="text-success" >Marque:</label>
      {{ form.marque(class_="form-control")}}

      <label  class="text-success" >Type de vehicule:</label>
      {{ form.categorie(class_="form-control") }}


<label  class="text-success" >Modele:</label>
{{ form.modele(class_="form-control") }}

<label  class="text-success" >Mise en circulation</label>
                {{ form.mise_circulation(class_="form-control") }}

<label  class="text-success" >Kilometrage:</label>
    {{ form.km(class_="form-control") }}              

<label  class="text-success" >Carburant</label>
     {{ form.carburant(class_="form-control") }}

<label  class="text-success" >Puissance fiscale</label>
{{ form.p_fiscale(class_="form-control") }}

<label  class="text-success" >Boite de vitesse</label>
                {{ form.boite_vitesse(class_="form-control") }}


</div>
<button type="submit" class="btn btn-success">Prediction</button>
</form>



{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes list-unstyled">
    {% for message in messages %}
      <li> <h2 class="text-success">{{ message }} </h1></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</div>





<script >


  let marque_select = document.getElementById("marque");
  let categorie_select = document.getElementById("categorie");
  let modele_select = document.getElementById("modele");
  let carburant_select = document.getElementById("carburant");
  console.log(marque_select)
    marque_select.onchange = function()  {
         
        marque = marque_select.value;
        categorie = categorie_select.value;
       

        fetch('/modele/' + marque + '&' + categorie).then(function(response) {

            response.json().then(function(data) {
              
                let optionHTML = '';
                
                for (let model of data.modeles) {
                    optionHTML += '<option value="' + model.id +'">' + model.modele + '</option>';
                }

                document.getElementById("modele").innerHTML = optionHTML;
                
                console.table(optionHTML)
                

            });
            
        });
    }

     
    categorie_select.onchange = function()  {
         
         marque = marque_select.value;
         categorie = categorie_select.value;
         
         fetch('/modele/' + marque + '&' + categorie).then(function(response) {

             response.json().then(function(data) {
               
                 var optionHTML = '';

                 for (var model of data.modeles) {
                     optionHTML += '<option value="' + model.id + '">' + model.modele + '</option>';
                 }
               
                 document.getElementById("modele").innerHTML = optionHTML;
                 console.table(optionHTML)
                 

             })
             
         });
     }

  </script>

</body>

  </html>